# Ignore node modules and build artifacts from context
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.*

# Build output
/dist

# IDE/editor
.vscode
.idea
.DS_Store
